<style>
        body  {
          background-color: beige;  
        }

        h1  {
            color: blueviolet;
        }

        p  {
            color: black;
        }
        
        img {
            width: 250px; 
            height:  400px;
            margin: 20px;
        }
    </style>
      
      